.formms{
    display:grid;
    /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
    gap: 1rem;
    margin: 3rem 10rem 0 10rem;
    place-items: center;
    text-align: left !important;
}

.field{
    width:70%;
    padding:7px;
    border-radius: 5px;
    margin: 1rem 0;
    background-color: #21213a;
    /* display:grid;
    place-items: center; */
}
.file{
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    display: grid;
    place-items: center; 

}
.checkbox{
    width:70%;
    padding:7px;
    border-radius: 5px;
    margin: 1rem 0;
}

