.products{
    display:grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
}

.productimg{
    width:80%;
    height:80%;
    object-fit:cover;
    border-radius: 2rem;
    padding:1rem;
    display: block;
  margin-left: auto;
  margin-right: auto;
}